.contact-fields .contact-image { float: left; margin: 0 10px 0 0; }
  .contact-fields .contact-image { -webkit-border-radius: 5px; border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; overflow: hidden; width: 150px; height: 150px;  }
  .contact-fields h1.contact-name { margin: 0; }
  .contact-fields.contact-header { height: 160px; }
.page-crm-contact #page-title { display: none; }

.student-status { font-size: 130%; font-weight: bold; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding: 6px; margin-bottom: 10px; }
  .student-status.student-status-normal, .student-status.student-status-good { background: #64bf00; color: #fff;}
  .student-status.student-status-bad { background: #b43939; color: #fff; }

form.site-search-form .form-item { margin: 0px; }

input.easy-copy { border: 1px solid #e5e5e5; }

.page-crm-admin-student .admin-panel h3 { padding: 5px; }

.tableclick tr { cursor: pointer; }
  .tableclick tr:hover { background: #fcfdd2; }