#edit-task-modal { }
  #edit-class.element-invisible { height: 0px; }
  #edit-task-modal .form-type-date-popup { border: none; }
  #edit-task-modal .form-type-date-popup .form-type-textfield label { display: none; }
  #edit-task-modal .container-inline-date .date-padding { padding-left: 0px; }
  #edit-task-modal .fieldset-legend { display: none; }
#task-cancel { margin: 0px 0px 0px 10px; }

tr.completed, li.completed { text-decoration: line-through; }