#edit-task { border: none; }
  #edit-task .form-type-date-popup { border: none; }
  #edit-task .form-type-date-popup .form-type-textfield label { display: none; }
  #edit-task .container-inline-date .date-padding { padding-left: 0px; }
  #edit-task .fieldset-legend { display: none; }
#task-cancel { margin: 0px 0px 0px 10px; }