body {
	background: #fff;
	padding: 0 !important;
}

#header, #sidebar-left, #messages, #page-tools, #sidebar-left, #sidebar-right, #block-student-crm-activity-student-crm-activity-create {
	display: none;
}

#content {
	border: none !important;
}